{% extends 'base.html' %}

{% block content %}

<style>body {background-color: #95A5A6}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if pesan %}
            <div class="alert alert-success">{{ pesan }}</div>
            {% endif %}
            <form action="/tambah-dosen/" method="post">
            {% csrf_token %}

                {{ form.as_p }}
                
                <button class="btn btn-primary">Tambah Dosen</button>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}